.box {
    background-color: rgba(0, 0, 0, 0.5); /* White background with 50% transparency */
    border: 1px solid #ddd; /* Add border */
    padding: 10px 20px;
    height: 400px; /* Ensure consistent height */
    display: flex; /* Use flexbox for positioning */
    flex-direction: column; /* Arrange child elements vertically */
}

.box h4 {
    color: white; /* Text color */
    font-weight: bold; /* Bold text */
}

.box h7 {
    color: white; /* Text color */
    font-weight: bold; /* Bold text */
}

.description {
    flex-grow: 1; /* Allow description to grow and take remaining space */
    overflow-y: auto; /* Add scroll when content exceeds height */
}

/* Add these styles to your CourseBoxComponent CSS file */

/* Styling for the scrollbar */
.description::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}

/* Track */
.description::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the scrollbar track */
}

/* Handle */
.description::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar handle */
    border-radius: 5px; /* Border radius of the scrollbar handle */
}

/* Handle on hover */
.description::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar handle on hover */
}
