.soft-alert {
  position: fixed;
  top: 10px;
  /* Adjust the top position as needed */
  left: 50%;
  /* Center horizontally */
  transform: translateX(-50%);
  background-color: rgb(14,110,253);
  /* Example background color */
  color: white;
  /* Example text color */
  padding: 10px 20px;
  border-radius: 5px;
  width: 60%;
  /* Adjust the width as needed */
  max-width: 300px;
  /* Example max width */
  text-align: center;
  z-index: 999;
  /* Ensure it's above other elements */
  display: none;
  /* Initially hide the alert */
}

.soft-alert.visible {
  display: block;
  opacity: 1;
  /* Show the alert when visible */
}

.soft-alert .message {
  margin-right: 10px;
}

.soft-alert .close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}